@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


@theme {
  --font-ashish: 'Fjalla One', sans-serif;
  --font-sans: 'Roboto', sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary: #32064A;
  --color-orange :#e66a1f,;
  --color-lightpink:#e42a69,
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
